.contenedor-nav {
    display: flex;
    flex-direction: row;

}
.contenedor-nav a{
    margin: 1px 3px;
}
.container{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #ffd7d7;
    justify-content: space-between;
    border: 1px;
    
}


.logo {
    padding: 20px;

}

.logo img {
    width: 75px;
    height: 75px;
}

.busqueda-cont{
    padding: 30px;
}


